
.ATL{
    border: 2px solid rgb(196,214,0);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color: rgba(224,58,62,.8);
    p{
        color: rgb(196,214,0);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.BOS{
    border: 2px solid rgb(255,255,255);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(0,130,72,.7);
    p{
        color : rgb(255,255,255);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.BKN{
    border: 2px solid rgb(255,255,255);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(0,0,0,.7);
    p{
        color : rgb(255,255,255);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.CHA{
    border: 2px solid rgb(0,120,140);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(29,17,96,.9);
    p{
        color : rgb(0,120,140);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.CHI{
    border: 2px solid rgb(255,255,255);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(206,17,65,.7);
    p{
        color : rgb(255,255,255);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.CLE{
    border: 2px solid rgb(255,184,28);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(111,38,51,.8);
    p{
        color : rgb(255,184,28);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.DAL{
    border: 2px solid rgb(196,206,212);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(0,125,197,.8);
    p{
        color : rgb(196,206,212);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.DEN{
    border: 2px solid rgb(253,185,39);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(80,145,205, .8);
    p{
        color : rgb(253,185,39);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.DET{
    border: 2px solid rgb(255,255,255);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(206,17,65,.7);
    p{
        color : rgb(255,255,255);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.GSW{
    border: 2px solid rgb(255,205,52);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(36,62,144,.9);
    p{
        color : rgb(255,205,52);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.HOU{
    border: 2px rgb(253,185,39);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(206,17,65,.8);
    p{
        color : rgb(253,185,39);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.IND{
    border: 2px solid rgb(0,45,98);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(253,187,48,.8);
    p{
        color : rgb(0,45,98);
        text-shadow: -1px -2 black, 0 0px black, 0px 0 black, 0 -1px black;
    }
}

.LAC{
    border: 2px solid rgb(0,107,182);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(237,23,76,.8);
    p{
        color : rgb(0,107,182);
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}

.LAL{
    border: 2px rgb(253,185,39);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(85,37,131,.8);
    p{
        color : rgb(253,185,39);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.MEM{
    border: 2px solid rgb(97,137,185);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(0,40,94,.9);
    p{
        color : rgb(97,137,185);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.MIA{
    border: 2px solid rgb(249,160,27);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(152,0,46,.8);
    p{
        color : rgb(249,160,27);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.MIL{
    border: 2px solid rgb(238,225,198);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(0,71,27,.9);
    p{
        color : rgb(238,225,198);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.MIN{
    border: 2px solid rgb(198,207,212);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(0,43,92,.9);
    p{
        color : rgb(198,207,212);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

.NOP{
    border: 2px solid rgb(225,58,62);
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color : rgba(0,22,65,.9);
    p{
        color : rgb(225,58,62);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

// .NYK{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .OKC{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .ORL{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .PHI{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .PHX{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .POR{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .SAC{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .SAS{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .TOR{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .UTA{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }

// .WAS{
//     border: 2px solid #C4D600;
//     width: fit-content;
//     font-size: 20px;
//     float: left;
//     padding: 1%;
//     background-color : rgba();
//     p{
//         color : rgb();
//         text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
//     }
// }
