
.hawks{
    border: 2px solid #C4D600;
    width: fit-content;
    font-size: 20px;
    float: left;
    padding: 1%;
    background-color: rgba(224,58,62,.8);
    p{
        color: #C4D600;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

// .BOS{
//     color1 : "#008248",
//     color2 : "#BA9653",
//     color3 : "#FFFFFF"
// }

// export const nets = {
//     color1 : "#000000";
//     color2 : "#FFFFFF";
//     color3 : "#000000";
// }

// export const hornets = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const bulls = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const cavaliers = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const mavericks = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const nuggets = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const pistons = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const warriors = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const rockets = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const pacers = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const clippers = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const lakers = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const grizzlies = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const heat = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const bucks = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const timberwolves = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const pelicans = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const knicks = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const thunder = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const magic = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// //check on this one!!!!!!!!!!!!!!!!!!!!!!!!
// export const sixers = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const suns = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const trailblazers = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const kings = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const spurs = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const raptors = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const jazz = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }

// export const wizards = {
//     color1 : "",
//     color2 : "",
//     color3 : ""
// }
